<div class="container">
  <div class="main">
    <div class="text">{{ text }}</div>
    <div class="gif">
      <iframe id="gifFrame" 
        src="https://giphy.com/embed/WQ3REUQR418t6sdCX8"
        frameBorder="0" class="giphy-embed" allowFullScreen
        (click)="changeText()">
      </iframe>
    </div>
    <div class="buttons">
      <button class="yes" (click)="changeText()">Yes</button>
      <button id="noButton" class="no" (mouseenter)="moveButton()" (click)="changeText1()">No</button>
    </div>
  </div>
</div>